@import "helper";
@import "vars";

// slide-fade
.slide-fade-enter-active {
  @include transition(all .5s ease);
}

.slide-fade-leave-active {
  @include transition(all .5s ease);
}

.slide-fade-leave-to {
  @include transform(translateX(-500px));
  opacity: 0;
}

.slide-fade-enter {
  @include transform(translateX(500px));
  opacity: 0;
}

// fade
.fade-enter-active {
  @include transition(all .5s ease);
}

.fade-leave-active {
  @include transition(all .5s ease);
}

.fade-leave-to {
  //@include transform(translateX(-500px));
  opacity: 0;
}

.fade-enter {
  //@include transform(translateX(500px));
  opacity: 0;
}

// bounce
.bounce-enter-active {
  //@include transition(all .5s ease);
  animation: bounce-in .5s;
}

.bounce-leave-active {
  //@include transition(all .5s ease);
  animation: bounce-in .5s reverse;
}

@keyframes bounce-in {
  0% {
    @include transform(scale(0));
  }
  50% {
    @include transform(scale(8));
  }
  100% {
    @include transform(scale(1));
  }
}

// up-slide-fade
.up-slide-fade-enter-active {
  @include transition(all .5s ease);
}

.up-slide-fade-leave-active {
  @include transition(all .5s ease);
}

.up-slide-fade-leave-to {
  @include transform(translateY(-500px));
  opacity: 0;
}

.up-slide-fade-enter {
  @include transform(translateY(-500px));
  opacity: 0;
}

// spin
@-moz-keyframes spin {
  100% {
    @include transform(rotate(360deg));
  }
}

@-webkit-keyframes spin {
  100% {
    @include transform(rotate(360deg));
  }
}

@keyframes spin {
  100% {
    @include transform(rotate(360deg));
  }
}

// move left upper
@-moz-keyframes move-lu {
  100% {
    @include transform(translate(0-$note-translate-max, 0-$note-translate-max));
  }
}

@-webkit-keyframes move-lu {
  100% {
    @include transform(translate(0-$note-translate-max, 0-$note-translate-max));
  }
}

@keyframes move-lu {
  100% {
    @include transform(translate(0-$note-translate-max, 0-$note-translate-max));
  }
}

// move right upper
@-moz-keyframes move-ru {
  100% {
    @include transform(translate($note-translate-max, 0-$note-translate-max));
  }
}

@-webkit-keyframes move-ru {
  100% {
    @include transform(translate($note-translate-max, 0-$note-translate-max));
  }
}

@keyframes move-ru {
  100% {
    @include transform(translate($note-translate-max, 0-$note-translate-max));
  }
}

// move right down
@-moz-keyframes move-rd {
  100% {
    @include transform(translate($note-translate-max, $note-translate-max));
  }
}

@-webkit-keyframes move-rd {
  100% {
    @include transform(translate($note-translate-max, $note-translate-max));
  }
}

@keyframes move-rd {
  100% {
    @include transform(translate($note-translate-max, $note-translate-max));
  }
}